<div [ngClass]="getCssWrapperClass()" class="rounded">
    <div class="img-wrapper text-center" *ngFor="let summary of summaries; let i = index">
        <div *ngIf="summary.isImageLoading" (click)="onClick(summary)" [ngClass]="getCssLoadContainerClass()">
            <mat-spinner [ngStyle]="{ 'left': '50%', 'transform': 'translateX(-50%)' }"></mat-spinner>
        </div>
        <img [ngStyle]="{ 'display': summary.isImageLoading ? 'none' : 'inline-block'}" 
            class="img-thumbnail"
            [ngClass]="getCssImageClass()"
            (click)="onClick(summary)" 
            (load)="onLoaded(i)"
            src="{{ summary.url }}" />
    </div>
</div>
